body {
  font-family: var(--font-family);
}                                        

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.marginTop10 {
  margin-top: 10px;
}

.marginTop10p {
  margin-top: 10%;
}

.marginLeft5p {
  margin-left: 5px;
}

.marginBottom10p {
  margin-bottom: 10px;
}

.input {
  margin-top: 20px;
  padding-top: 10px;
  margin-bottom: 10px;
}

.button {
  margin-top: 5px;
}

.customTag {
  display:inline-flex !important;
  align-items: normal !important;
}

.p-tabview-title {
  line-height: normal !important;
}

.p-card {
  padding:0 !important;
}

.p-card .p-card-subtitle {
  color: #495057 !important;
  font-weight: bold !important;
  margin-bottom: 0% !important;
}