body {
  font-family: var(--font-family);
}                                        

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.marginTop10 {
  margin-top: 10px;
}

.marginTop10p {
  margin-top: 10%;
}

.marginLeft5p {
  margin-left: 5px;
}

.marginBottom10p {
  margin-bottom: 10px;
}

.input {
  margin-top: 20px;
  padding-top: 10px;
  margin-bottom: 10px;
}

.button {
  margin-top: 5px;
}

.customTag {
  display:inline-flex !important;
  align-items: normal !important;
  color: #ffffff !important;
  margin-bottom: 10px;
  border-radius: 10px;
  box-shadow:  2px 2px 4px #cbcfd0,
            -2px -2px 4px #ffffff;
}

.p-tabview-title {
  line-height: normal !important;
}

.p-card {
  padding:0 !important;
}

.p-card .p-card-subtitle {
  font-weight: bold !important;
  margin-bottom: 0% !important;
  color: white !important;
}

#NavBar {
  margin-bottom: 10px;
}

#orderCard {
  border-radius: 50px;
  box-shadow:  2px 2px 4px #cbcfd0,
            -2px -2px 4px #ffffff;
}

.menuCard {
  border-radius: 10px !important;
  box-shadow:  2px 2px 4px #cbcfd0,
            -2px -2px 4px #ffffff !important;
}

.p-button {
  box-shadow:  2px 2px 4px #cbcfd0,
            -2px -2px 4px #ffffff !important;
  color: #ffffff !important;
}

.p-tooltip-text {
  color: black !important;
  background-color: #ffffff !important;
}

.required {
  color: red;
  font-weight: bolder;
}